JSabreSOAPClient/src/main/java/META-INF/wsdl/webservices.sabre.com/wsdl/swso/OTA_AirLowFareSearchLLS2.3.0RS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:stl="http://services.sabre.com/STL/v01" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified">
	<xs:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd"/>
	<xs:include schemaLocation="sws_common.xsd"/>
	<xs:element name="OTA_AirLowFareSearchRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stl:ApplicationResults"/>
				<xs:element name="PricedItineraries" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PricedItinerary" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AirItineraryPricingInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AncillaryFees" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="AncillaryFeeGroup" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AncillaryFeeItem" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="Amount" type="xs:string" use="optional"/>
																					<xs:attribute name="Carrier" type="xs:string" use="optional"/>
																					<xs:attribute name="Date" type="xs:string" use="optional"/>
																					<xs:attribute name="Description" type="xs:string" use="optional"/>
																					<xs:attribute name="DestinationAirport" type="xs:string" use="optional"/>
																					<xs:attribute name="EndSegment" type="xs:string" use="optional"/>
																					<xs:attribute name="OriginAirport" type="xs:string" use="optional"/>
																					<xs:attribute name="PassengerCode" type="xs:string" use="optional"/>
																					<xs:attribute name="StartSegment" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="Code" type="xs:string" use="optional"/>
																		<xs:attribute name="Message" type="xs:string" use="optional"/>
																		<xs:attribute name="Name" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Message" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FareCalculation" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Text" minOccurs="0" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ItinTotalFare" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BaseFare" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="xs:string" use="optional"/>
																		<xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Commission" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="xs:string" use="optional"/>
																		<xs:attribute name="Percent" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="EquivFare" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="xs:string" use="optional"/>
																		<xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Taxes" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Tax" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="Amount" type="xs:string" use="optional"/>
																					<xs:attribute name="TaxCode" type="xs:string" use="optional"/>
																					<xs:attribute name="TaxName" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TotalFare" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="xs:string" use="optional"/>
																		<xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Warnings" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Warning" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="ShortText" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PassengerTypeQuantity" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Code" type="xs:string" use="optional"/>
															<xs:attribute name="Group" type="xs:string" use="optional"/>
															<xs:attribute name="Quantity" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="PTC_FareBreakdown" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FareBasis" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Code" type="xs:string" use="optional"/>
																		<xs:attribute name="CorporateID" type="xs:string" use="optional"/>
																		<xs:attribute name="FarePassengerType" type="xs:string" use="optional"/>
																		<xs:attribute name="FareType" type="xs:string" use="optional"/>
																		<xs:attribute name="GlobalInd" type="xs:string" use="optional"/>
																		<xs:attribute name="Market" type="xs:string" use="optional"/>
																		<xs:attribute name="PrivateFareInd" type="xs:string" use="optional"/>
																		<xs:attribute name="TicketDesignator" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Surcharges" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="Ind" type="xs:string" use="optional"/>
																				<xs:attribute name="Type" type="xs:string" use="optional"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TicketingFees" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FeeInformation" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="HeaderInformation" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LastTicketingDate" minOccurs="0" type="sws:dateOrTime"/>
													<xs:element name="SpanishLargeFamilyDiscountLevel" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
													<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
													<xs:element name="ValidInterline" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Ind" type="xs:boolean" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ValidatingCarrier" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Code" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OriginDestinationOption" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FlightSegment" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DestinationLocation" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="LocationCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="DisclosureAirline" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Code" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Equipment" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="AirEquipType" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="FlightDetails" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="TrafficRestrictionCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="IntermediatePointInfo" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="FlightSegment" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Equipment" minOccurs="0">
																							<xs:complexType>
																								<xs:attribute name="AirEquipType" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="IntermediateLocation" minOccurs="0">
																							<xs:complexType>
																								<xs:attribute name="LocationCode" type="xs:string" use="optional"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="ArrivalDateTime" type="sws:dateTime" use="optional"/>
																					<xs:attribute name="DepartureDateTime" type="sws:dateTime" use="optional"/>
																					<xs:attribute name="Duration" type="xs:string" use="optional"/>
																					<xs:attribute name="ElapsedTime" type="xs:string" use="optional"/>
																					<xs:attribute name="IntermediateTimeZone" type="xs:string" use="optional"/>
																					<xs:attribute name="RPH" type="xs:string" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="MarketingAirline" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Code" type="xs:string" use="optional"/>
																		<xs:attribute name="FlightNumber" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="MarriageGrp" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Ind" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Meal" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="MealCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="OperatingAirline" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="Code" type="xs:string" use="optional"/>
																		<xs:attribute name="CompanyShortName" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="OriginLocation" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="LocationCode" type="xs:string" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ArrivalDateTime" type="xs:string" use="optional"/>
															<xs:attribute name="ConnectionInd" type="xs:string" use="optional"/>
															<xs:attribute name="DepartureDateTime" type="xs:string" use="optional"/>
															<xs:attribute name="DestinationTimeZone" type="xs:string" use="optional"/>
															<xs:attribute name="DivideInd" type="xs:boolean" use="optional"/>
															<xs:attribute name="ElapsedTime" type="xs:string" use="optional"/>
															<xs:attribute name="eTicket" type="xs:boolean" use="optional"/>
															<xs:attribute name="FlightNumber" type="xs:string" use="optional"/>
															<xs:attribute name="MarketingCabin" type="xs:string" use="optional"/>
															<xs:attribute name="OnTimeRate" type="xs:string" use="optional"/>
															<xs:attribute name="OnTimePercent" type="xs:string" use="optional"/>
															<xs:attribute name="OriginTimeZone" type="xs:string" use="optional"/>
															<xs:attribute name="ResBookDesigCode" type="xs:string" use="optional"/>
															<xs:attribute name="RPH" type="xs:string" use="optional"/>
															<xs:attribute name="SmokingAllowed" type="xs:boolean" use="optional"/>
															<xs:attribute name="StopQuantity" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="RPH" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="CurrencyCode" type="xs:string" use="optional"/>
									<xs:attribute name="CustomizeRoutingOption" type="xs:string" use="optional"/>
									<xs:attribute name="RPH" type="xs:string" use="optional"/>
									<xs:attribute name="TotalAmount" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" fixed="2.3.0" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>